
### 1. **Introduction to Python**

* High-level, interpreted, general-purpose language.
* Easy syntax (similar to English).
* Used in web development, data science, AI/ML, automation, etc.

---

### 2. **Basic Syntax**

* **Comments**: `# single line` , `''' multi-line '''`
* **Print statement**:

  ```python
  print("Hello, World!")
  ```

**user input in Python**.

---

## 🔹 `input()` function

In Python, we take user input using the **`input()`** function.

* It always returns data as a **string**.
* If you need numbers (int/float), you must **convert** them.

---

## 🔹 Basic Example

```python
name = input("Enter your name: ")
print("Hello,", name)
```

👉 If you type **Revathy**, the output will be:

```
Enter your name: Revathy
Hello, Revathy
```

---

## 🔹 Taking Numbers as Input

Since `input()` returns **string**, we convert it:

```python
age = int(input("Enter your age: "))   # convert to integer
print("You are", age, "years old.")
```

👉 If you enter `25`, it prints:

```
You are 25 years old.
```

For decimal numbers:

```python
price = float(input("Enter the price: "))
print("Price with tax:", price * 1.18)
```

---

## 🔹 Multiple Inputs in One Line

```python
a, b = input("Enter two numbers separated by space: ").split()
a = int(a)
b = int(b)
print("Sum =", a + b)
```

👉 If you enter:

```
10 20
```

Output:

```
Sum = 30
```

---

## 🔹 Example with Conditional Operators + User Input

```python
marks = int(input("Enter your marks: "))

if marks >= 90:
    print("Grade A")
elif marks >= 75:
    print("Grade B")
else:
    print("Grade C")
```

---

✅ **Summary**:

* `input()` → always string.
* Use `int()` / `float()` to convert numbers.
* `split()` helps take multiple inputs.
* Often used with conditional statements (`if-else`).


---

### 3. **Data Types**

* **Numbers** → `int`, `float`, `complex`
* **String** → `"Hello"`
* **Boolean** → `True`, `False`
* **Collections**:

  * `list` → `[1, 2, 3]`
  * `tuple` → `(1, 2, 3)`
  * `set` → `{1, 2, 3}`
  * `dict` → `{"name": "Revathy", "age": 25}`
  * 👉 Each of these is called a collection because it collects multiple elements into one container.


---
---

# 🐍 Why **Collections in Data Types** are also called **Data Structures** in Python

### 🔹 1. What is a **Data Type**?

A **data type** defines **what kind of data** a variable can hold.

* Example: `int`, `float`, `str` → hold **one value at a time**.

---

### 🔹 2. What is a **Data Structure**?

A **data structure** is a way of **organizing multiple values together** in memory for efficient access and manipulation.

* Example: `list`, `tuple`, `set`, `dict`.

---

### 🔹 3. Why are Python Collections Called Both?

In **Python**, collections like `list`, `tuple`, `set`, and `dict` are:

* **Data Types** → because they are built-in types you can assign to a variable.
* **Data Structures** → because they store and organize **multiple values together**.

So they live in **both categories**.

👉 Example:

```python
x = [1, 2, 3]
print(type(x))   # <class 'list'>
```

Here:

* `list` is a **data type** (Python sees it as a class).
* But logically, `list` is also a **data structure** (because it organizes elements in order, allows indexing, etc.).

---

### 🔹 4. Analogy

* **Data Types (single value)** = individual building blocks (like a *brick*).
* **Collections / Data Structures (multi-value)** = ways of arranging many bricks into something useful (like a *wall or house*).

So in Python:

* `int`, `float`, `str`, `bool` → **simple data types**
* `list`, `tuple`, `set`, `dict` → **collection data types**, but also **data structures** (because they structure multiple items).

---

### ✅ Final Summary

* **All collections are data structures** because they organize multiple values.
* In **Python**, they are also considered **data types**, because everything is an object (and each collection is a class).

That’s why `list`, `tuple`, `set`, `dict` are referred to as both **collection data types** and **data structures**.


---
---

### 4. **Variables**

* No need to declare type explicitly.

  ```python
  x = 10
  y = "Python"
  ```

---

### 5. **Operators**

* Arithmetic → `+ - * / % // **`
* Comparison → `== != > < >= <=`
* Logical → `and or not`
* Assignment → `= += -= *=`

| Operator | Example   | Equivalent To | Meaning                             |         |     |                       |
| -------- | --------- | ------------- | ----------------------------------- | ------- | --- | --------------------- |
| `=`      | `x = 5`   | —             | Assigns value 5 to `x`              |         |     |                       |
| `+=`     | `x += 3`  | `x = x + 3`   | Add and assign                      |         |     |                       |
| `-=`     | `x -= 2`  | `x = x - 2`   | Subtract and assign                 |         |     |                       |
| `*=`     | `x *= 4`  | `x = x * 4`   | Multiply and assign                 |         |     |                       |
| `/=`     | `x /= 2`  | `x = x / 2`   | Divide and assign (result is float) |         |     |                       |
| `//=`    | `x //= 2` | `x = x // 2`  | Floor divide and assign             |         |     |                       |
| `%=`     | `x %= 3`  | `x = x % 3`   | Modulus and assign (remainder)      |         |     |                       |
| `**=`    | `x **= 2` | `x = x ** 2`  | Exponent (power) and assign         |         |     |                       |
| `&=`     | `x &= y`  | `x = x & y`   | Bitwise AND and assign              |         |     |                       |
| \`       | =\`       | \`x           | = y\`                               | \`x = x | y\` | Bitwise OR and assign |
| `^=`     | `x ^= y`  | `x = x ^ y`   | Bitwise XOR and assign              |         |     |                       |
| `>>=`    | `x >>= 2` | `x = x >> 2`  | Right shift and assign              |         |     |                       |
| `<<=`    | `x <<= 2` | `x = x << 2`  | Left shift and assign               |         |     |                       |


---

### 6. **Control Flow**

* **If-else**

  ```python
  age = 18
  if age >= 18:
      print("Adult")
  else:
      print("Minor")
  ```
* **Loops**

  ```python
  for i in range(5):
      print(i)

  while x < 5:
      print(x)
      x += 1
  ```

---

### 7. **Functions**

```python
def greet(name):
    return "Hello " + name

print(greet("Revathy"))
```

---

### 8. **Modules & Libraries**

* Import built-in or external modules:

  ```python
  import math
  print(math.sqrt(16))
  ```

---

### 9. **File Handling**

```python
with open("data.txt", "w") as f:
    f.write("Hello Python")

with open("data.txt", "r") as f:
    print(f.read())
```

---

### 10. **Error Handling**

```python
try:
    num = int("abc")
except ValueError:
    print("Invalid number")
finally:
    print("Done")
```

---

In [17]:
print ("hello")

hello

In [18]:
x=5
print(x)

5

In [19]:
z="Hello"
print(z)

Hello

In [20]:
z=input("Enter your name: ")
print(z)
print(f"The name is {z}")

Enter your name:  Revathy

Revathy
The name is Revathy

In [5]:
z=int(input("Enter the value : "))
print(z)

Enter the value :  12

12

In [6]:
z=float(input("Enter the value : "))
print(z)

Enter the value :  12

12.0

In [12]:
a, b = input("Enter two numbers separated by space: ").split()
a = int(a)
b = int(b)
print(a,b)
print("Sum =", a + b)

Enter two numbers separated by space:  11 12

11 12
Sum = 23

In [1]:
a=12
b=13

In [2]:
print("The numbers are ",a,",",b)

The numbers are  12 , 13

In [3]:
print(f"the numbers are {a},{b}")

the numbers are 12,13

# Data Types 

- number -> int, float, complex
- string ->str
- boolean -> true, false

In [40]:
# numbers 

z=5

In [41]:
type(z)  # used to find the datatype of data given

int

In [42]:
x=3.2
type(x)

float

In [43]:
x=5+1j
type(x)

complex

In [44]:
x=18
print(type(x))

<class 'int'>

In [45]:
i=2+3j
print(type(i))

<class 'complex'>

In [46]:
# string

x="Hello"
type(x)

str

In **Python**, `bool()` is a **built-in function** that converts a value into its **Boolean equivalent** — either `True` or `False`.

---

### ✅ Why do we use `bool()`?

We use `bool()` when we want to explicitly check or represent whether something is **logically true** or **false**.
It is useful for:

1. **Type conversion** (casting values to Boolean).
2. **Condition checking** (e.g., in `if` statements).
3. **Cleaning or validating data** (turning inputs into a strict `True/False` form).

---

### 🔑 Conversion Rules of `bool()`

In Python, values are interpreted as either **truthy** or **falsy**:

* **Falsy values** (evaluate to `False`):

  * `0` (zero of any numeric type: `0, 0.0, 0j`)
  * `None`
  * `False`
  * Empty sequences/collections (`""`, `[]`, `{}`, `set()`, `()`)
  * Objects that implement `__bool__()` or `__len__()` returning `False` or `0`

* **Truthy values** (evaluate to `True`):

  * Any non-zero number (`1, -5, 3.14`)
  * Any non-empty string (`"hello"`)
  * Any non-empty list, tuple, set, dict, etc.

---

### 🐍 Examples

In [47]:
# boolean

z=True
type(z)

bool


# 🔹 What is `bool()`?

* `bool()` is a **built-in function** in Python.
* It converts a value into its **Boolean equivalent** → either `True` or `False`.
* The result follows Python’s **truthy / falsy rules**.

---

# 🔹 Truthy vs Falsy Values

### ✅ Falsy values (become `False`):

* `0` (zero: int, float, complex → `0, 0.0, 0j`)
* `None`
* `False`
* Empty collections → `""`, `[]`, `{}`, `()`, `set()`
* Objects that define `__bool__()` or `__len__()` returning `False` or `0`

### ✅ Truthy values (become `True`):

* Any non-zero number → `1, -3, 2.5`
* Any non-empty string → `"hello"`
* Any non-empty collection → `[1, 2]`, `{"a": 1}`, `(5,)`
* Custom objects with `__bool__()` or `__len__()` returning non-zero / True

---

In [176]:
print(bool(0))

False

In [177]:
print(bool(1))

True

In [178]:
print(bool(-5))

True

In [179]:
print(bool(""))

False

In [180]:
print(bool("Python"))

True

In [181]:
print(bool([]))

False

In [182]:
print(bool([0]))

True

In [183]:
print(bool(None))

False

### ⚡ Where is `bool()` useful?

* **Input validation**

In [22]:
user_input = "hello"
if bool(user_input):   # same as if user_input:
    print("You entered something!")
else:
    print("You entered nothing.")

You entered something!

* **Converting numeric results into strict True/False**

In [24]:
x = 25
is_positive = bool(x > 0)
print(is_positive)  # True

True

* **Data cleaning**

In [25]:
values = ["yes", "", "no", " "]
flags = [bool(v.strip()) for v in values]
print(flags)  # [True, False, True, False]

[True, False, True, False]

👉 In short:
We use `bool()` when we want to **explicitly turn any Python object into a Boolean value (`True` or `False`)**, instead of relying on implicit truthiness.

Do you want me to also explain **the difference between using `if x:` vs `if bool(x):`**? That’s a common beginner confusion.

In [36]:
print(bool(3))

True

In [37]:
print(bool())

False

In [38]:
print(bool(0))

False

In [39]:
print(bool(None))

False

In [18]:
print(bool(False))

False

# Operators

## 1. Arithmetic Operators

Arithmetic → `+ - * / % // **`

In [101]:
print(3+5)

8

In [102]:
print(5-3)

2

In [103]:
print(2*3)

6

In [104]:
print(2**3)

8

In [105]:
print(4/3)

1.3333333333333333

In [106]:
print(4//3)

1

In [107]:
print(5%3) # 5/3 gets remainder 2 modulus(%) gives reminder as result

2

## Assignment Operator

Assignment → = += -= *=

In [109]:
x = 10      # Assign 10 to x
x

10

In [111]:
y = "Hi"    # Assign string to y
y

'Hi'

In [112]:
z = 3.5     # Assign float to z
z

3.5

# Compound Assignment Operators

In [133]:
x=5

In [116]:
x += 3 # x = x+3
x

8

In [118]:
x -= 3
x

2

In [122]:
x *= 4 
x

20

In [125]:
x /= 2
x

2.5

In [130]:
x //= 2
x

2

In [132]:
x %= 2
x

1

In [134]:
x **= 2
x

25

Bitwise AND &=    eg:- x &= y
Bitwise XOR ^=    eg:- x ^= y
Right shift >>=   eg:- x >>= 2
Left shift <<=    eg:- x <<= 2

## 2. Comparison Operator

Comparison → == != > < >= <=

In [135]:
a = 10
b = 20

In [136]:
print(a == b)

False

In [137]:
print(a != b)

True

In [138]:
print(a > b)

False

In [139]:
print(a < b)

True

In [140]:
print(a >= 10)

True

In [141]:
print(b <= 15)

False

#### Comparing Strings

In [142]:
print("apple" == "apple")

True

In [143]:
print("apple" != "banana")

True

In [144]:
print("cat" > "bat")

True

In [145]:
print("dog" < "zebra")

True

## 3.Logical Operator

Logical → and or not

In [149]:
a = 10
b = 20
c = 5

In [158]:
# AND Operator -> if both conditions are true

print(a>5 and b>15)

True

In [159]:
print(a>5 and c>10)

False

T F R
1 0 0
0 1 0
1 1 1
0 0 0

In [160]:
# OR Operator -> atleast one condition is true

print(a>15 or b>15)

True

In [161]:
print(a<5 or c<2)

False

T F R
1 0 1
0 1 1
1 1 1
0 0 0

In [162]:
# NOT Operator -> Reverse result

print(not(a>5))

False

In [163]:
print(not(b<15))

True

X R
1 0
0 1

# Slicing

h e l l o

0 1 2 3 4

In [4]:
x="hello"

In [5]:
print(x[::])

hello

In [6]:
print(x[0:5])

hello

In [7]:
print(x[::-1])

olleh

In [8]:
print(x[-1])

o

In [164]:
x="hello"
print(x[2:4])

ll

In [165]:
x="revathy"
print(x[::-1])

yhtaver

In [166]:
x="python"
print(x[2:])

thon

In [167]:
print(x[0:3])

pyt

In [168]:
print(x[:3])

pyt

In [169]:
alphabet="ABCDEFGHIJKLMNOPQRSTUVWXYZ"
print(alphabet[:13])
print(alphabet[13:])

ABCDEFGHIJKLM
NOPQRSTUVWXYZ

In [170]:
x="hello"
print(x[-1])

o

 p    y   t    h    o   n
-6   -5  -4   -3   -2  -1

In [171]:
x="python"
print(x[-4:-1])

tho

g o d   i s   l o v  e

0 1 2 3 4 5 6 7 8 9 10

In [172]:
x="god is love"
print(x[4:6])

is

In [173]:
quote="The quick brown fox jumps over the lazy dog"
print(quote[-27:-24])
print(quote[20:30])

fox
jumps over

In [174]:
p="hello python"
print(p[::-1])

nohtyp olleh

In [175]:
scrambled="txet gnicilS"
print(scrambled[::-1])

Slicing text

# List

# 🔹 What is a List in Python?

* A **list** is a **collection** in Python that can hold **multiple items** in a single variable.
* It is **ordered**, **mutable** (can be changed), and can hold **different data types** together.
* Defined using **square brackets `[]`**.

---

## Example

In [1]:
# Creating a list
fruits = ["apple", "banana", "cherry"]

In [2]:
fruits[0]

'apple'

In [52]:
print(fruits)

['apple', 'banana', 'cherry']

In [53]:
print(type(fruits))

<class 'list'>

## Characteristics of a List

In [55]:
# 1) Ordered → Items keep their order 

numbers = [10, 20, 30]
print(numbers[0])

10

In [56]:
# 2) Mutable → We can change, add, or remove elements.

numbers[1] = 25
print(numbers)

[10, 25, 30]

In [57]:
# 3) Heterogeneous → Can store multiple data types.

mix = [1, "hello", 3.14, True]
print(mix)

[1, 'hello', 3.14, True]

In [58]:
# 4) Allows duplicates → Same value can appear multiple times.

dup = [1, 1, 2, 2, 3]
print(dup)

[1, 1, 2, 2, 3]

## List Operations

In [3]:
# 1. Indexing

fruits = ["apple", "banana", "cherry"]
print(fruits[0])  
print(fruits[-1])

apple
cherry

In [72]:
# 2. Slicing

numbers = [10, 20, 30, 40, 50]
print(numbers[1:4])

[20, 30, 40]

In [73]:
print(numbers[:3])

[10, 20, 30]

In [74]:
print(numbers[::2])

[10, 30, 50]

#### 3. Adding Elements

- append()
- insert()
- extend()

In [4]:
fruits.append("mango") # Add at end
print(fruits)

['apple', 'banana', 'cherry', 'mango']

In [76]:
fruits.insert(1, "orange")   # Add at index 1
print(fruits)

['apple', 'orange', 'banana', 'cherry', 'mango']

In [77]:
fruits.extend(["grape", "kiwi"])  # Add multiple
print(fruits)

['apple', 'orange', 'banana', 'cherry', 'mango', 'grape', 'kiwi']

#### 4. remove elements
- remove()
- pop()
- del
- clear()

In [78]:
# 4. Removing Elements

fruits.remove("banana")   # Remove by value
print(fruits)

['apple', 'orange', 'cherry', 'mango', 'grape', 'kiwi']

In [79]:
fruits.pop(2)             # Remove by index
print(fruits)

['apple', 'orange', 'mango', 'grape', 'kiwi']

In [80]:
del fruits[0]             # Delete by index
print(fruits)

['orange', 'mango', 'grape', 'kiwi']

In [81]:
fruits.clear()            # Remove all elements
print(fruits)

[]

#### 5. Searching

- in
- index()

In [21]:
fruits = ["apple", "banana", "cherry"]
print("apple" in fruits)

True

In [84]:
print(fruits.index("banana"))

1

#### 6. Other Useful Methods

- sort()
- reverse()
- count()
- zip()

In [22]:
nums = [5, 2, 9, 1]
nums.sort()

In [6]:
nums

[1, 2, 5, 9]

In [7]:
nums.reverse()

In [8]:
nums

[9, 5, 2, 1]

In [10]:
l1=[2,4,6,1,3,0]
l1.sort(reverse=True)
l1

[6, 4, 3, 2, 1, 0]

In [14]:
# count() -> find no.of repeated values

l1=[1,2,4,2,6,2]
l1.count(2)

3

In [15]:
# len() -> to fint no.of elements in alist

len(l1)

6

In [20]:
zip()

l1=[1,2,3,4,5,6]
l2=["apple","orange","banana","cherry","pineapple","kiwi"]

for a,b in zip(l1,l2):
    print(a,b)

1 apple
2 orange
3 banana
4 cherry
5 pineapple
6 kiwi

#### 7. Concatination (+) & Repetition (*)

In [23]:
l1=[1,2,3,4,5,6]
l2=["apple","orange","banana","cherry","pineapple","kiwi"]

In [24]:
l3=l1+l2

In [25]:
l3

[1, 2, 3, 4, 5, 6, 'apple', 'orange', 'banana', 'cherry', 'pineapple', 'kiwi']

In [26]:
l4 = l1 * 3

In [27]:
l4

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

## List Constructor 

list() is used to construct a list

In [31]:
list(range(10)) #convert range to list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [32]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [33]:
list((1,2,3,4,5,6,7,8,9,10)) #convert tuple to list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [34]:
list({1,2,3,4,5,6,7,8,9,10}) # convert set to list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Task

In [9]:
mylist=["apple","banana","cherry"]
print(mylist)

['apple', 'banana', 'cherry']

In [10]:
mylist=["apple","banana","cherry"]
print(mylist[1])

banana

In [11]:
mylist=["apple","banana","cherry"]
print(mylist[-1])

cherry

In [12]:
mylist=["apple","banana","cherry","orange","kiwi","melon","mango"]
print(mylist[2:5])

['cherry', 'orange', 'kiwi']

In [19]:
mylist=["apple","banana","cherry"]
mylist[1]="blackcurrant"
print(mylist)

['apple', 'blackcurrant', 'cherry']
['blackcurrant']

In [23]:
fruits=['apple','orange','kiwi','pinapple','grapes','banana']
print(fruits)
print(fruits[1])
print(fruits[-1])
print(fruits[1:2])
fruits[2]='papaya'
print(fruits)

['apple', 'orange', 'kiwi', 'pinapple', 'grapes', 'banana']
orange
banana
['orange']
['apple', 'orange', 'papaya', 'pinapple', 'grapes', 'banana']

In [25]:
thislist=["apple","banana","cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [27]:
thislist=["apple","banana","cherry"]
print(len(thislist))

3

In [29]:
thislist=["apple","banana","cherry","apple","apple"]
print(thislist.count("apple"))

3

In [35]:
thislist=["apple","banana","cherry"]
thislist.insert(1,"orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [37]:
thislist=["apple","banana","cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [39]:
thislist=["apple","banana","cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [41]:
thislist=["apple","banana","cherry"]
thislist.reverse()
print(thislist)

['cherry', 'banana', 'apple']

In [43]:
thislist=["apple","banana","cherry"]
mylist=thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [47]:
cars=["Ford","BMW","Volvo"]
cars.sort()
print(cars)

['BMW', 'Ford', 'Volvo']

In [51]:
list1=["a","b","c"]
list2=[1,2,3]
list3=list1+list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [75]:
fruits1=["apple","orange","kiwi","pineapple","grapes","banana"]
fruits1.append("kiwi")
print(fruits1)
print(fruits1.count("kiwi"))
fruits1.insert(1,"jackfruit")
print(fruits1)
fruits1.pop()
fruits2=["apple","orange","kiwi","pineapple","grapes","banana"]
fruits2.pop()
print(fruits2)
#remove
fruits2.remove('orange')
print(fruits2)
#reverse
fruits2.reverse()
print(fruits2)
#copy
fruits2.copy()
print(fruits2)
#sort
fruits2.sort()
print(fruits2)

['apple', 'orange', 'kiwi', 'pineapple', 'grapes', 'banana', 'kiwi']
2
['apple', 'jackfruit', 'orange', 'kiwi', 'pineapple', 'grapes', 'banana', 'kiwi']
['apple', 'orange', 'kiwi', 'pineapple', 'grapes']
['apple', 'kiwi', 'pineapple', 'grapes']
['grapes', 'pineapple', 'kiwi', 'apple']
['grapes', 'pineapple', 'kiwi', 'apple']
['apple', 'grapes', 'kiwi', 'pineapple']

In [79]:
b=[2,4,6,8,10]
a=[1,3,5,7,9,b]
print(a)
print(b[0:2])

[1, 3, 5, 7, 9, [2, 4, 6, 8, 10]]
[2, 4]

In [83]:
#countlist
lis_country=["India","UAE","America","China","America","Nepal","Pakistan","America","SriLanka","Afganistan","America","Canada","NewZealand"]
print(lis_country.count("America"))

4

In [95]:
#index & negative index in list
lis_country=["India","UAE","America","China","Nepal","Pakistan","SriLanka","Afganistan","Canada","NewZealand"]
print(lis_country[3])
print(lis_country[-7])

China
China

In [97]:
#slicing
lis_country=["India","UAE","America","China","Nepal","Pakistan","SriLanka","Afganistan","Canada","NewZealand"]
print(lis_country[5:9])

['Pakistan', 'SriLanka', 'Afganistan', 'Canada']

In [101]:
#append
lis_country=["India","UAE","America","China","Nepal","Pakistan","SriLanka","Afganistan","Canada","NewZealand"]
lis_country.append("UK")
print(lis_country)

['India', 'UAE', 'America', 'China', 'Nepal', 'Pakistan', 'SriLanka', 'Afganistan', 'Canada', 'NewZealand', 'UK']

In [107]:
#insert
lis_country=["India","UAE","America","China","Nepal","Pakistan","SriLanka","Afganistan","Canada","NewZealand"]
#position is 6 so n-1 is position 5
lis_country.insert(5,"UK")
print(lis_country)

['India', 'UAE', 'America', 'China', 'Nepal', 'UK', 'Pakistan', 'SriLanka', 'Afganistan', 'Canada', 'NewZealand']

In [111]:
#sort the list in ascending order
lis_country=["India","UAE","America","China","Nepal","Pakistan","SriLanka","Afganistan","Canada","NewZealand"]
lis_country.sort()
print(lis_country)

['Afganistan', 'America', 'Canada', 'China', 'India', 'Nepal', 'NewZealand', 'Pakistan', 'SriLanka', 'UAE']

In [123]:
#sorted list in decenting order
lis_country=["India","UAE","America","China","Nepal","Pakistan","SriLanka","Afganistan","Canada","NewZealand"]
lis_country.sort(reverse="true")
print(lis_country)

['UAE', 'SriLanka', 'Pakistan', 'NewZealand', 'Nepal', 'India', 'China', 'Canada', 'America', 'Afganistan']

#### zip()

In Python, the `zip()` function is used to **combine multiple iterables (like lists, tuples, etc.) element-wise** into an iterator of tuples. Each tuple contains elements from the corresponding positions of the input iterables.

---

### **Syntax**

```python
zip(iterable1, iterable2, ...)
```

* **iterable1, iterable2, …**: Any number of iterable objects (lists, tuples, strings, etc.)
* Returns a **zip object**, which is an iterator of tuples.

---

In [3]:
# Example 1: Basic usage

list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']

zipped = zip(list1, list2)
print(list(zipped))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [4]:
# Example 2: More than two lists

list1 = [1, 2, 3]
list2 = ['x', 'y', 'z']
list3 = [True, False, True]

zipped = zip(list1, list2, list3)
print(list(zipped))

[(1, 'x', True), (2, 'y', False), (3, 'z', True)]

In [5]:
# Example 3: Lists of unequal length

list1 = [1, 2, 3, 4]
list2 = ['a', 'b']

zipped = zip(list1, list2)
print(list(zipped))

[(1, 'a'), (2, 'b')]

In [6]:
# Example 4: Unzipping

pairs = [(1, 'a'), (2, 'b'), (3, 'c')]
nums, letters = zip(*pairs)
print(nums)     # (1, 2, 3)
print(letters)  # ('a', 'b', 'c')

(1, 2, 3)
('a', 'b', 'c')

`zip()` is often used for:

* Iterating multiple lists simultaneously.
* Creating dictionaries from two lists:

In [1]:
keys = ['name', 'age', 'city']
values = ['Alice', 25, 'NY']

my_dict = dict(zip(keys, values))
print(my_dict)

{'name': 'Alice', 'age': 25, 'city': 'NY'}

In [137]:
#zip funtion
lis_country=["India","UAE","America","China","Nepal","Pakistan","SriLanka","Afganistan","Canada","NewZealand","UK","Saudi"]
index_country=list(range(11))
print(list(zip(lis_country,index_country)))

[('India', 0), ('UAE', 1), ('America', 2), ('China', 3), ('Nepal', 4), ('Pakistan', 5), ('SriLanka', 6), ('Afganistan', 7), ('Canada', 8), ('NewZealand', 9), ('UK', 10)]

# Tuple

In Python, a **tuple** is a built-in **immutable** sequence type, similar to a list, but **cannot be changed after creation**. Tuples are often used to store **related pieces of information** and can contain **heterogeneous elements** (different data types).

---

## **1. Creating a Tuple**

### **Syntax**

```python
tuple_name = (element1, element2, ...)
```

### **Examples**

In [26]:
# Empty tuple
t1 = ()

In [27]:
# Tuple with integers
t2 = (1, 2, 3, 4)

In [28]:
# Tuple with mixed data types
t3 = (1, "hello", 3.5, True)

In [29]:
# Single element tuple (comma is necessary!)
t4 = (5,)

## **2. Accessing Elements**

Tuples support **indexing and slicing** like lists.

In [30]:
t = (10, 20, 30, 40, 50)

In [31]:
print(t[0])

10

In [32]:
print(t[-1])

50

In [33]:
print(t[1:4])

(20, 30, 40)

## **3. Tuple Operations**

In [34]:
t1 = (1, 2, 3)
t2 = (4, 5)

In [35]:
# Concatenation
t3 = t1 + t2
print(t3)

(1, 2, 3, 4, 5)

In [36]:
# Repetition
print(t2 * 3)

(4, 5, 4, 5, 4, 5)

In [37]:
# Membership
print(3 in t1)  
print(6 in t2)

True
False

## **4. Tuple Methods**

Tuples have **only two built-in methods**:

1. `count()` – Counts occurrences of a value

In [39]:
t = (1, 2, 2, 3)
print(t.count(2))

2

2. `index()` – Returns first index of a value

In [40]:
t = (10, 20, 30)
print(t.index(20))

1

## **5. Why Use Tuples?**

* **Immutable:** Cannot accidentally change data.
* **Faster** than lists for iteration.
* Can be used as **keys in dictionaries** (lists cannot).
* Good for **grouping related data**.

---

## **6. Tuple Unpacking**

You can assign tuple elements to variables directly:

In [41]:
t = (1, 2, 3)
a, b, c = t
print(a, b, c)

1 2 3

In [44]:
# tuple task

tuple1=(2.3,6.9,25,67,26,7)
tuple2=("s",'er','r','ggy','h')

In [43]:
print("tuple1[0]:",tuple1[0])
print("last item:",tuple1[5])
print("selected items:",tuple2[1:3])
tuple3=tuple1+tuple2
print(tuple3)

tuple1[0]: 2.3
last item: 7
selected items: ('er', 'r')
(2.3, 6.9, 25, 67, 26, 7, 's', 'er', 'r', 'ggy', 'h')

In [25]:
#length
print(len(tuple1))

6

In [10]:
#type
print(type(tuple2))

<class 'tuple'>

In [11]:
#change tuple to list
list1=list(tuple1)
print(list1)

[2.3, 6.9, 25, 67, 26, 7]

In [12]:
#adding values to list using append(). append() add values at the last of the list.
list1.append(999)
print(list1)
list1.append(99)
print(list1)

[2.3, 6.9, 25, 67, 26, 7, 999]
[2.3, 6.9, 25, 67, 26, 7, 999, 99]

In [13]:
#change list to tuple
tuple11=tuple(list1)
print(tuple11)

(2.3, 6.9, 25, 67, 26, 7, 999, 99)

In [14]:
#tuple() constructor
thistuple=tuple(("apple","banana","cherry"))
print(thistuple)

('apple', 'banana', 'cherry')

In [27]:
#count tuple. count() used to find the no.of times the entries are repeated
tuple4=(2,2,2,5,7,8,90)
print(tuple4.count(2))
print(tuple4.count(5))
print(tuple4.count(9))
thistuple=(1,3,7,8,7,5,4,7,6,8,5)
x=thistuple.count(7)
print(x)

3
1
0
3

In [31]:
#unpacking
fruits2=('apple','orange','kiwi','pineapple')# This is packing
(red,orange,green,yellow)=fruits2 #this is unpacking that means assigning values to the packed tuples to this tuple if we want to print red it will show corresponding packed variable apple the balance variables also  like thateach are assigned to the corresponding positions
print(red)
print(orange)
print(yellow)

apple
orange

In [5]:
fruits=("mango","avacado","banana","grapes")
(fiber,*healthy,sweet)=fruits# * sign is used to store the balance variable of the the tuple unless first & last variable
print(fiber)
print(sweet)
print(healthy)

mango
grapes
['avacado', 'banana']


# Set 

A **set** is a built-in data type in Python that represents an **unordered collection of unique elements**.

---

## ✅ 1. **Creating a Set**

In [52]:
# Empty set
s1 = set()

In [53]:
# With elements
s2 = {1, 2, 3, 4}

In [54]:
# Duplicate values are removed automatically
s3 = {1, 2, 2, 3, 4}
print(s3)

{1, 2, 3, 4}

---

## ✅ 2. **Properties of Sets**

* **Unordered** → no indexing (`s[0]` ❌).
* **Unique values** only (no duplicates).
* **Mutable** → you can add or remove elements.
* Can only contain **immutable** objects (no lists or dicts inside a set).

---

## ✅ 3. **Set Operations**

Sets are mostly used in **mathematical operations**.

In [55]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

In [56]:
print(A | B)   # Union

{1, 2, 3, 4, 5, 6}

In [57]:
print(A & B)   # Intersection

{3, 4}

In [58]:
print(A - B)   # Difference

{1, 2}

In [59]:
print(A ^ B)   # Symmetric Difference

{1, 2, 5, 6}

## ✅ 4. **Set Methods**

In [66]:
s = {10, 20, 30}

In [67]:
s.add(40)        # Add element
s

{10, 20, 30, 40}

In [68]:
s.remove(20)     # Remove (error if not found)
s

{10, 30, 40}

In [69]:
s.discard(50)    # Remove safely (no error)
s

{10, 30, 40}

In [70]:
s.pop()          # Remove random element
s

{10, 30}

In [71]:
s.clear()        # Empty the set
s

set()

## ✅ 5. **Use Cases of Sets**

* Removing duplicates from a list:

In [72]:
nums = [1, 2, 2, 3, 4, 4, 5]
unique_nums = list(set(nums))
print(unique_nums)

[1, 2, 3, 4, 5]

* Fast membership testing (`in` is faster with sets than lists).
* Performing math-like operations on data.

---


# Dictionary (`dict`)

A **dictionary** is a built-in Python data type that stores data in **key-value pairs**.
It is also called an **associative array** or **hash map** in other languages.

---

## ✅ 1. **Creating a Dictionary**

In [74]:
# Empty dictionary
d1 = {}

In [75]:
# With values
d2 = {"name": "Alice", "age": 25, "city": "New York"}

In [76]:
# Using dict() function
d3 = dict([("a", 1), ("b", 2)])

## ✅ 2. **Accessing Values**

In [77]:
person = {"name": "Bob", "age": 30}

In [78]:
print(person["name"])

Bob

In [79]:
print(person.get("age"))

30

In [80]:
print(person.get("gender", "Not found"))

Not found

## ✅ 3. **Adding / Updating**

In [83]:
person = {"name": "Bob", "age": 30}

In [84]:
person["age"] = 31         # update value
person

{'name': 'Bob', 'age': 31}

In [85]:
person["city"] = "Paris"   # add new key-value
person

{'name': 'Bob', 'age': 31, 'city': 'Paris'}

In [86]:
print(person)

{'name': 'Bob', 'age': 31, 'city': 'Paris'}

## ✅ 4. **Deleting**

In [87]:
person = {"name": "Bob", "age": 31, "city": "Paris"}

In [88]:
del person["city"]    # remove by key
person

{'name': 'Bob', 'age': 31}

In [89]:
age = person.pop("age")  # remove & return value
person

{'name': 'Bob'}

In [90]:
person.clear()        # empty dictionary
person

{}

## ✅ 5. **Dictionary Methods**

* `keys()` → returns all keys
* `values()` → returns all values
* `items()` → returns all key-value pairs
* `update()` → merges another dictionary
* `pop()` → removes a key and returns its value

In [5]:
# Sample dictionary
student = {
    "name": "Revathy",
    "age": 22,
    "course": "Data Science"
}

In [6]:
# keys()

print(student.keys())

dict_keys(['name', 'age', 'course'])

In [7]:
# vaues()

print(student.values())

dict_values(['Revathy', 22, 'Data Science'])

In [8]:
# items()

print(student.items())

dict_items([('name', 'Revathy'), ('age', 22), ('course', 'Data Science')])

In [9]:
# update()

student.update({"age": 23, "city": "Chennai"})
print(student)

{'name': 'Revathy', 'age': 23, 'course': 'Data Science', 'city': 'Chennai'}

In [10]:
# pop()

removed = student.pop("course")
print("Removed value:", removed)
print("Updated dictionary:", student)

Removed value: Data Science
Updated dictionary: {'name': 'Revathy', 'age': 23, 'city': 'Chennai'}

In [11]:
d = {"a": 1, "b": 2}
d.update({"b": 3, "c": 4})
print(d)   # {'a': 1, 'b': 3, 'c': 4}

{'a': 1, 'b': 3, 'c': 4}

## ✅ 6. **Looping through Dictionary**

In [12]:
student = {"id": 101, "name": "Alice", "marks": 85}

In [13]:
# Keys
for k in student.keys():
    print(k)

id
name
marks

In [14]:
# Values
for v in student.values():
    print(v)

101
Alice
85

In [15]:
# Both
for k, v in student.items():
    print(k, ":", v)

id : 101
name : Alice
marks : 85

## ✅ 7. **Nesting**

Dictionaries can hold lists or other dictionaries inside:

In [19]:
students = {
    1: {"name": "Alice", "marks": 90},
    2: {"name": "Bob", "marks": 85}
}

print(students[1]["name"])   # Alice

Alice

---

## ✅ 8. **Why use Dictionaries?**

* Fast lookups by key (much faster than searching in lists).
* Perfect for **real-world data representation** (like database rows, JSON, configs).

---

👉 So far you’ve learned:

* **list** → ordered, mutable
* **tuple** → ordered, immutable
* **set** → unordered, unique elements
* **dict** → unordered key-value pairs

In [17]:
n=10
print(" The " ,n,"is")

 The  10 is

In [18]:
print(f"The {n} is")

The 10 is

f"...": This is an f-string, introduced in Python 3.6, allowing expressions inside {} to be evaluated and included in the string.

{n}: This placeholder gets replaced by the value of the variable n.

If n = 5, the output would be:

The 5 is

# join()

## 🔹 What is `join()`?

* `join()` is a **string method** in Python.
* It **joins (concatenates) elements of an iterable (like a list, tuple, or set) into a single string**.
* You specify a **separator string** (the string that will be placed between elements).

---

## 🔹 Syntax:

```python
separator.join(iterable)
```

* **`separator`** → string to place between items (e.g., space `" "`, comma `","`, hyphen `"-"`, etc.).
* **`iterable`** → collection of strings (like a list, tuple, or generator).
  ⚠️ Elements **must be strings**, otherwise you’ll get a `TypeError`.

---

In [14]:
# Example 1: Join a list with spaces

words = ["Python", "is", "fun"]
sentence = " ".join(words)
print(sentence)

Python is fun

In [15]:
# Example 2: Join with commas

items = ["apple", "banana", "cherry"]
result = ", ".join(items)
print(result)

apple, banana, cherry

In [16]:
# Example 3: Join with no separator

letters = ["P", "y", "t", "h", "o", "n"]
result = "".join(letters)
print(result)

Python

In [17]:
# Example 4: Join numbers (need conversion to string)

numbers = [1, 2, 3, 4]
# Convert to string before joining
result = "-".join(map(str, numbers))
print(result)

1-2-3-4

In [18]:
# Reverse a String using join()

text = "Python"
rev = "".join(reversed(text))
print(rev)

nohtyP

In [19]:
# Reverse a List of Strings and Join

words = ["Python", "is", "fun"]
rev = " ".join(reversed(words))
print(rev)

fun is Python

In [21]:
# Reverse Words in a Sentence

sentence = "Python is fun"
rev_sentence = " ".join(reversed(sentence.split()))
print(rev_sentence)

fun is Python

In [22]:
# Reverse Characters of Each Word

sentence = "Python is fun"
rev_each = " ".join(word[::-1] for word in sentence.split())
print(rev_each)

nohtyP si nuf

In [23]:
# Reverse Digits in a Number (convert to string first)

num = 12345
rev_num = "".join(reversed(str(num)))
print(rev_num)

54321

In [24]:
# Reverse with Custom Separator

letters = ["a", "b", "c", "d"]
rev = "-".join(reversed(letters))
print(rev)

d-c-b-a

In [25]:
# Palindrome Check using Reverse + Join

word = "madam"
is_palindrome = word == "".join(reversed(word))
print(is_palindrome)

True

In [26]:
# List + join() + reversed()

fruits = ["apple", "banana", "cherry"]
rev = " | ".join(reversed(fruits))
print(rev)

cherry | banana | apple

In [28]:
# Tuple + join()

colors = ("red", "green", "blue")
rev = ", ".join(reversed(colors))
print(rev)

blue, green, red

In [29]:
# Set + join()

animals = {"dog", "cat", "elephant"}
rev = " - ".join(reversed(sorted(animals)))
print(rev)

elephant - dog - cat

In [30]:
# Dictionary + join()

# Reverse keys

person = {"name": "Alice", "age": "25", "city": "Paris"}
rev_keys = ", ".join(reversed(person.keys()))
print(rev_keys)

city, age, name

In [31]:
# Reverse values

rev_values = " ".join(reversed(person.values()))
print(rev_values)

Paris 25 Alice

In [32]:
# Reverse key-value pairs

rev_items = " | ".join(f"{k}:{v}" for k, v in reversed(person.items()))
print(rev_items)

city:Paris | age:25 | name:Alice

In [33]:
# Mixed Example: Numbers in a List

numbers = [10, 20, 30, 40]
rev = " -> ".join(map(str, reversed(numbers)))
print(rev)

40 -> 30 -> 20 -> 10

In [20]:
# Reverse Characters in Each Word

words = ["Python", "is", "fun"]
rev_each = " ".join(word[::-1] for word in words)
print(rev_each)

nohtyP si nuf

## 🔹 When to use `join()`?

* When you need to **combine strings from a list/tuple into one string**.
* Useful in:

  * Making sentences from word lists
  * Creating CSV-like strings
  * Efficient string concatenation in loops (faster than `+`)

---


✅ **Summary of Techniques**:

* **List/Tuple** → `reversed()` + `join()` directly.
* **Set** → convert to `sorted()` list first, then reverse + join.
* **Dictionary** → you can reverse keys, values, or items and join as string.

---