# Dictionary Comprehension

A dictionary comprehension lets you create a dictionary in one line.

**Syntax**

`{key: value for item in iterable}`

In [1]:
# Example 1: Square of Numbers

numbers = [1, 2, 3, 4, 5]
squares = {x: x**2 for x in numbers}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [2]:
# Example 2: Convert Strings to Uppercase

fruits = ['apple', 'banana', 'cherry']
fruit_dict = {fruit: fruit.upper() for fruit in fruits}
print(fruit_dict)

{'apple': 'APPLE', 'banana': 'BANANA', 'cherry': 'CHERRY'}

In [3]:
# Example 3: Conditional Dictionary

numbers = range(6)
even_dict = {x: 'Even' for x in numbers if x % 2 == 0}
print(even_dict)

{0: 'Even', 2: 'Even', 4: 'Even'}

In [4]:
# Example 4: Swap Keys and Values

data = {'a': 1, 'b': 2, 'c': 3}
swapped = {v: k for k, v in data.items()}
print(swapped)

{1: 'a', 2: 'b', 3: 'c'}

# Set Comprehension

A set comprehension creates a set (unique elements only).

**Syntax**

 `{expr for item in iterable}`

In [5]:
# Example 1: Squares of Numbers

numbers = [1, 2, 3, 4, 3, 2]
square_set = {x**2 for x in numbers}
print(square_set)

{16, 1, 4, 9}

In [6]:
# Example 2: Extract Unique First Letters

fruits = ['apple', 'banana', 'cherry', 'avocado']
first_letters = {fruit[0] for fruit in fruits}
print(first_letters)

{'a', 'c', 'b'}

In [7]:
# Example 3: Filtered Set

numbers = range(10)
even_set = {x for x in numbers if x % 2 == 0}
print(even_set)

{0, 2, 4, 6, 8}

#### Summary Table

| Type     | Syntax                              | Example                       |
| -------- | ----------------------------------- | ----------------------------- |
| **List** | `[expr for item in iterable]`       | `[x**2 for x in range(5)]`    |
| **Dict** | `{key: value for item in iterable}` | `{x: x**2 for x in range(5)}` |
| **Set**  | `{expr for item in iterable}`       | `{x**2 for x in range(5)}`    |