In [7]:
thisdict={
    "brand":"Ford",
    "model":"Mustang",
    "year":1964
}
if "model"in thisdict:
    print("Yes,'Model' is one of the keys inthe thisdict dictionary")

Yes,'Model' is one of the keys inthe thisdict dictionary

In [3]:
thisdict.update({"year":2020})
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [5]:
thisdict.pop('year')
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [9]:
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [11]:
thisdict.clear()
print(thisdict)

{}

In [15]:
myfamily = {
    "child1":{
        "name":"Emil",
        "year":2004
    },
    "child2" : {
        "name":"Tobias",
        "year":2007
    },
    "child3":{
    "name":"Linus",
    "year":2011
    }
}
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [19]:
child1 = {
    "name" : "Emil",
    "year" : 2004
}
child2 = {
    "name" : "Tobias",
    "year" : 2007
}
child3 = {
    "name" : "Linus",
    "year" :2011
}
myfamily = {
    "child1" : child1,
    "child2" : child2,
    "child3" : child3
}
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [21]:
thisset = {"apple","banana","cherry"}
print("banana" in thisset)#in is the conditional operator

True

In [23]:
thisset.add("orange")
print(thisset)

{'cherry', 'banana', 'orange', 'apple'}

In [25]:
mylist = ["kiwi","orange"]
thisset.update(mylist)
print(thisset)

{'banana', 'cherry', 'orange', 'kiwi', 'apple'}

In [27]:
thisset.remove("grapes")#if the element is note present in the set it will show error
print(thisset)

KeyError: 'grapes'

In [29]:
thisset.discard("grapes")#if the element not in the set it will not show error
print(thisset)

{'banana', 'cherry', 'orange', 'kiwi', 'apple'}

In [31]:
x = thisset.pop()
print(x) #it shows poped element from the set 
print(thisset)#it shows remaining elements in the set after pop

banana
{'cherry', 'orange', 'kiwi', 'apple'}

In [33]:
#sets are unordered, so when using the pop() method , you do not know which item that gets removed.
thisset.clear()
print(thisset)

set()

In [39]:
thisset ={"apple","banana","cherry"}
del thisset

In [ ]:
#for set union we can use | sign or union()

In [41]:
set1 = {"a","b","c"}
set2 = {1,2,3}
set3 =set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'b', 'c'}

In [43]:
set1 = {"a","b","c"}
set2 = {1,2,3}
set3 =set1|set2
print(set3)

{1, 2, 3, 'a', 'b', 'c'}

In [45]:
x={"a","b","c"}
y={1,2,3}
z=x.union(y)
print(z)

{1, 2, 3, 'a', 'b', 'c'}

In [47]:
set1 = {"a","b","c"}
set2 = {1,2,3}
set1.update(set2)
print(set1)

{1, 2, 3, 'a', 'b', 'c'}

In [ ]:
#intersection of the set done using intersection() or & sign

In [51]:
set1={"apple","banana","cherry"}
set2={"google","microsoft","apple"}
set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [53]:
set1={"apple","banana","cherry"}
set2={"google","microsoft","apple"}
set3 = set1 & set2
print(set3)

{'apple'}

In [55]:
#keep the items exist in both set1 and set2:
set1={"apple","banana","cherry"}
set2={"google","microsoft","apple"}
set1.intersection_update(set2)
print(set1)

{'apple'}

In [63]:
#join sets that contains the values True,False,1 and 0 and see what is considered as duplicates:
set1={"apple",1,"banana",0,"cherry"}
set2={False,"google",1,"apple",2,True}
set3=set1.intersection(set2)
print(set3)

{False, 1, 'apple'}

In [65]:
#difference method used by difference() and - sign  it will return to a new set that will conytain only the items from the first set that are not present in the order set.
#keep all items from set1 that are not in set2:
set1 = {"apple","banana","cherry"}
set2={"google","microsoft","apple"}
set3=set1.difference(set2)
print(set3)

{'cherry', 'banana'}

In [67]:
set1 = {"apple","banana","cherry"}
set2={"google","microsoft","apple"}
set3=set1-set2
print(set3)

{'cherry', 'banana'}

In [75]:
#symmetric difference , done by symmetric_difference() and ^ sign the method will keep only the elements that are not present in both sets
set1 = {"apple","banana","cherry"}
set2={"google","microsoft","apple"}
set3=set1.symmetric_difference(set2)
print(set3)

{'banana', 'cherry', 'google', 'microsoft'}

In [73]:
set1 = {"apple","banana","cherry"}
set2={"google","microsoft","apple"}
set3=set1^set2
print(set3)

{'banana', 'cherry', 'google', 'microsoft'}

In [79]:
set1 = {"apple","banana","cherry"}
set2={"google","microsoft","apple"}
set1.symmetric_difference_update(set2)
print(set1)

{'banana', 'cherry', 'google', 'microsoft'}