In [1]:
#For loop
#string execution
for x in "banana":
    print(x)

b
a
n
a
n
a

In [1]:
s="banana"
for x in s:
    print(x)

b
a
n
a
n
a

In [3]:
#list execution
l=[1,2,3,4,5]
for i in l:
    print(i)

1
2
3
4
5

In [2]:
fruits=["apple","banana","cherry"]
for i in fruits:
    print(i)

apple
banana
cherry

In [19]:
#break in for loop print statement 
fruits=["apple","banana","cherry"]
for i in fruits:
    print(i)
    if i=="banana":
        break

apple
banana

In [25]:
#break before print statement
fruits=["apple","banana","cherry"]
for i in fruits:
    if i=="banana":
        break
    print(i)

apple

In [27]:
# continue statement in for loop
fruits=["apple","banana","cherry"]
for i in fruits:
    if i=="banana":
        continue
    print(i)

apple
cherry

In [30]:
#continue in for loop
for letter in "python":
    if letter=="h":
        continue
    print("Current letter",letter)

Current letter p
Current letter y
Current letter t
Current letter o
Current letter n

In [32]:
#range in for loop + condition statement
for i in range(1,11):
    if i==6:
        continue
    else:
        print(i)

1
2
3
4
5
7
8
9
10

In [34]:
for v in "string":
    print(v)
    if v=="t":
        break

s
t

In [36]:
for v in "string":
    if v=="t":
        break
    print(v)

s

In [44]:
s="geeksforgeeks"
for letter in s:
    print(letter)
    if letter=="e" or letter=="s":
        break
print("out of for loop")

g
e
out of for loop

The range() Function 

To loop through a set of code a specified number of times, we can use the range() function, 
The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and 
ends at a specified number.

In [40]:
#range() in for loop
for i in range(6):
    print(i)

0
1
2
3
4
5

In [42]:
#using the start parameter in for loop using range()
for x in range(2,6):
    print(x)

2
3
4
5

In [1]:
#while loop is used for checking the condition and execution
# syntax is similar to c,c++ 
#i++ is not accepted in while loop we can use by i+=1 or i=i+1 increment 
#syntax
#initialization
#while(condition):
#     statement(n)
#     increment/decrement


i=0
while(i<10):
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9

In [58]:
i=1
while(i<6):
    print(i)
    i+=1

1
2
3
4
5

In [60]:
i=1
while(i<6):
    print(i)
    if i==3:
        break
    i+=1

1
2
3

In [4]:
#print() stmt within for loop execute each time till exit from the loop
n=int(input("Enter n:"))
sum=0
i=1
while i<=n:
    sum=sum+i
    i+=1
    print("The sum is ",sum)

Enter n: 10

The sum is  1
The sum is  3
The sum is  6
The sum is  10
The sum is  15
The sum is  21
The sum is  28
The sum is  36
The sum is  45
The sum is  55

In [5]:
#print() stmt outside the while loop execute only the final stmt of the loop after the exit from the loop
n=int(input("Enter n:"))
sum=0
i=1
while i<=n:
    sum=sum+i
    i+=1
print("The sum is ",sum)

Enter n: 10

The sum is  55

In [70]:
n=10
sum=0
i=1
while i<=n:
    sum=sum+i
    i+=1
print("The sum is ",sum)

The sum is  55

In [72]:
#while else loop
c=0
while c<3:
    print("Inside loop")
    c+=1
else:
    print("Inside else")

Inside loop
Inside loop
Inside loop
Inside else

In [1]:
#for loop in list

fruits=["apple","banana","cherry"]
for i in fruits:
    print(i)

apple
banana
cherry

In [9]:
fruits=["apple","banana","cherry"]
for i in fruits:
    if i=="banana":
        continue
    print(i)

apple
cherry

In [6]:
#if print stmt is outside the loop it only diplay the values after the condition checked by the for loop and continue statement
fruits=["apple","banana","cherry"]
for i in fruits:
    if i=="banana":
        continue

print(i)

cherry

In [21]:
s="geeksforgeeks"
for letter in s:
    print(letter)
    if letter=="e" or letter=="s":
        break

print("out of for loop")
print()

g
e
out of for loop

### ✅ **Nested `for` Loop in Python:**

A **nested `for` loop** is a loop **inside another loop**.
It allows you to repeat a block of code **multiple times for each item** in another loop.

---

### 🔣 **Syntax:**

```python
for outer_variable in outer_sequence:
    for inner_variable in inner_sequence:
        # Code block to execute
```

---

In [29]:
# list using nested for loop

adj=["red","big","tasty"]
fruits=["apple","banana","cherry"]
for i in adj:
    for j in fruits:
        print(i,j)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

### ✅ **List Comprehension in Python**

**List comprehension** is a **short and elegant way** to create a new list by performing an operation on each item in an existing list or iterable.

---

### 🔣 **Syntax:**

```python
new_list = [expression for item in iterable]
```

You can also add a condition:

```python
new_list = [expression for item in iterable if condition]
```

---

In [8]:
#basic example
nums = [1, 2, 3, 4, 5]
squares = [x*x for x in nums]
print(squares)

[1, 4, 9, 16, 25]

In [9]:
#with a condition

even_numbers = [x for x in nums if x % 2 == 0]
print(even_numbers)

[2, 4]

In [31]:
#list comprehension

#newlist = [expression for item in iterable if condition==True]

fruits = ["apple","banana","cherry","kiwi","mango"]
newlist = [x for x in fruits if "a" in x]
print(newlist)

['apple', 'banana', 'mango']

In [33]:
#looping through indexing

fruits=("apple","orange","kiwi","pineapple")
for i in range(len(fruits)):
    print(fruits[i])

print(fruits[0])

apple
orange
kiwi
pineapple
apple

In [35]:
squares=[x**2 for x in range(1,6)]
print(squares)

[1, 4, 9, 16, 25]

In [45]:
cube=[x**3 for x in range(1,11)]
print(cube)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [101]:
l=[x for x in range(1,51)]
for i in l:
    if i%2!=0:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [145]:
string=(input("Enter the string : ")).lower()
consonants=["a","e","i","o","u"]
for i in range(len(string)):
    for j in range(len(consonants)):
        if consonants[j]==string[i]:
            print(consonants[j])

Enter the string :  jesus

e
u

In [185]:
n=int(input("Enter the number words to be enter: "))
for i in range(n):
    input("Enter the words : ")
    for j in str(i):
        j[n]==str(i).lower()
        print(j[n])

Enter the number words to be enter:  1
Enter the words :  GOD

IndexError: string index out of range

In [187]:
l=[x for x in range(1,101)]
for i in l:
    if i%5==0:
        print(i)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100